.skills{
    margin: 0px;
}
.carousel{
    width: 100%;
}
.carousel-inner{
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.carousel-item{
    border: 6px solid lightblue;
    height: 275px;
}
.carousel-item img{
    max-width: 300px;
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skills_right{
    padding: 0px;
    margin: 15px;
    height: 350px;
}
.skills_right p{
    font-size: 0.8em;
}
.carousel-item h1{
    text-align: center;
    font-size: 1.1em;
    padding: 0;

}
.carousel-item p{
    text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
.carousel-indicators{
    z-index: 1;
}


@media only screen and (max-width: 500px) {
    .carousel-item img{
    width: 75px;        
    }
    .skills_right{

        height: 500px;
    }
  }