@import "nav.css";
@import "about.css";
@import "skills.css";
@import "projects.css";
@import "contacts.css";
body{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #f7a8b8 , #55cdfc);

}


.main{
  transition: margin-left .5s;
}


.btn{
  border: none;
  border-radius: 7px;
  font-size: 1.4em;
  float: right;
  margin-right: 25px;
}